*{
	padding: 0px;
	margin: 0px;
}

html,body{
	width: 100%;
	min-width: 600px;
}

#wrapper{
	padding: 20px;
	box-sizing: border-box;
	overflow: hidden;
}

header{
	width: 100%;
	height: 90px;
	clear: none;
	border-bottom: 4px dashed black;
}



#logo{
	float: left;
	display: inline;
}

#analyzebutton{
	float: right;
	display: inline;
}

#curly{
	height: 0px;
	border-left: 500px solid transparent;
	border-right: 500px solid transparent;
	border-bottom: 50px solid black;
	border-radius: 500px;
}

#songsearch{
	float: right;
	display: inline;
	margin-top: 50%;
}

#focusedtrack{
	clear: none;
	padding-top: 40px;
	padding-bottom: 40px;
	width: 100%;
	min-height: 200px;
	height: auto;
	overflow: auto;
}

#focusedtext{
	float: left;
	height: auto;
}

#focusedimg{
	float: right;
	height: auto;
}

#trackmeta{
	line-height: 1;
}

#trackmeta h1{
	font-size: 4em; 
	margin-bottom: 20px;
	padding-right: 10px;
}

#trackmeta p{
	font-size: 3em;
}

#albumart div:first-of-type{
	width: 200px;
	height: 200px;
}

.smallalbum{
	width: 128px;
	width: 128px;
	float: left;
}


.resultmeta{
	float: left;
}

#results{
	width: 100%;
	height: auto;
	margin-bottom: 40px;
	overflow: hidden;
}

#results h2{
	font-size: 2em;
}

#sampledby{
	float: left;
}

#issampled{
	float: right;
}

.col{
	width: 50%;
	display: inline;
}

.clear{
	clear: both;
}


.sp-player #albumart{
  display: block !important; 
  height: 100% !important; 
  width: 100% !important;
}

.sp-player .result{
	display: inline !important;
}


.result{
	height: auto;
	text-align: top;
	clear: none;
	margin-top: 10px;
	height: auto;
	overflow: hidden;
}

.result div{
	float: left !important;
	display: inline !important;
}

.result div:last-child{
	box-sizing: border-box;
	padding-left: 5px;
	clear: right;
	width: 50%;
}



.right{
	float: right;
}

.left{
	float: left;
}

.section-header {
	width: 75%;
	padding-top: 15px;
	margin-top: 15px;
	border-bottom: 2px dashed black;
	margin-bottom: 20px;
}

footer{
	text-align: center;
	clear: both;
}

.resultbox{
	min-height: 64px;
}

.show_on_hover{
	clear: both;
	display: none;
	margin-top: 7px;
	border: 1px solid gray;
	background-color: #ECEBE8;
}

.show_on_hover:hover{
	box-shadow: 2px 2px black;
	position: relative;
	top: -2px;
	left: -2px;
}

.show_on_hover:active{
	box-shadow: none;
	position: relative;
	top: 0px;
	left: 0px;
}


.button-img{
	padding-top: 4px;
	padding-left: 3px;
	padding-right: 3px;

}